
html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	min-height: 100vh;
	font-family:  sans-serif;
 	font-size: 1rem;
  	line-height: 1.5;
}

::placeholder {
	opacity: .5;
	text-align: center;
	}
.app-css {
	min-height: 100vh;
	margin: 0 auto;
	background: #efeef0;
}
a{
	text-decoration: none;
	color: black;
}


.navroot {
	display: flex;
	display: relative;
	height: 3.5em;
	outline: none;
	background-color: #708090;
	box-shadow: 1px 2px 10px 0px #888888;
}
.register {
	position: absolute;
	top: .5em;
	left:76em;
}
.login {
	position: absolute;
	top: .5em;
	left: 70em;
}
.about {
	position: absolute;
	top: .5em;
	left: 37em;
}
.name {
	position: absolute;
	top:.7em;
	left: 1.6em;
	font-size: 1.2em;

}
.github {
	position: absolute;
	top: .17em;
	left: 5.5em;
	font-size: 2.1em;
	color: 	green;
	border: none;
	outline: none;
}
.home {
	position: absolute;
	top: .5em;
	left:30em;
}
.link {
	font-size: 1.5em;
	font-weight: 500;
	
	/*font-family: 'Kanit', sans-serif;*/

}
.reuseroute {

	border: .1em solid orange;
	background: orange;
	border-radius: .2em;
	color: white;
	padding: .1em;
	/*font-family: 'Kanit', sans-serif;*/

}

.searchcontainer {
	width:;

	margin-top: .4em;
	height: 1.9em;
	display:flex; ;
}	

.search-input {
	position: absolute;
	top: 4em;
	left: 20em;
	padding : .2em .6em .3em .6em;
	width: 15em;
	font-size: 1.3em;
	letter-spacing: .1em;
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
	color:#4d1300;
	margin-right: .4em;
	background-color: #b3e6cc;
	border: .12em solid orange;
	border-radius: .5em;
	outline: none;

}
.search-btn {
	position: absolute ;
	left: 55em ;
	top: 6.3em ;
	cursor: pointer;
	margin-left: 1em ;
	width: 4em ;
	height: 3.3em ;
	border-radius: .4em ;
	
	border : .16em solid orange;
	box-shadow: 3em orange;
}
.search-btn:active {
	background: #708090;
}


.fasearch {
	height: 2em;
	width: 2em;
}

.imagecontainer {
	 	margin-top: 1em;
}
.search {
	display: flex;
	width: 70em;
	justify-content: center;
}

.img-container-sub {

	
	
}
.img-container-sub-2 {
	max-width: 90%;
	height: 100%;
	display: grid;
	margin: 0 auto ;
	margin-top: 6em !important;
	grid-template-columns: auto auto auto auto ;
	grid-gap: .8em;
	row-gap: 2.4em;
	padding-bottom: 3.5em;

}

.card {
	margin-left: 2.7em;
	height: 15rem;
	width:15em ;
	position: relative;
	overflow: hidden;

}


.card-img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: .7em;

}
.img-details-container {
	border-bottom-left-radius: .6em;
	border-bottom-right-radius: .6em;
	border-radius: .6em;
	transition: all .4s linear;

	position: absolute;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	
	display: grid;
	grid-template-columns: 25% 60% 22% ;
	background: #c9d3d3;
}
.card:hover .img-details-container {
	transform: translateY(-99.2%);
}
.photographer-name-container {
	margin-right: 1em;
	grid-column-start: 1;
	grid-column-end: 4;
}
.photographer {

	margin-top: .2em;
	padding : 0 0 0 .4em;
}
.photographer-name {
	position: absolute;
	left: ;
	font-size: .9em;
	padding-left: .2em;
}

.faeye {
	margin-top: .28em;
}
.pic-view {
	display: flex;
	font-size: .85em;
}
.total-views {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
	margin-top: .2em;
	padding: 0 0 0 .3em;
}
.count-container {
	margin-top: .7em;
	padding: 0 0 0 .1em;
	height: 2em;
}

.like-icon {
	padding: 0 0 0 -.3em;
	margin: 0 0 0 0;
}
.add-to-wishlist {
	width: 100%;
	cursor: pointer;
	height: 2.2em;
	padding-top:.1em !important;
	border-bottom-left-radius: .6em;
	border-bottom-right-radius: .6em;
	border: .2em solid orange;
	text-align: center;
	font-family: 'Bebas Neue', cursive !important;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 1.3em;
	transition: all 1s linear;
	transition-timing-function: ease;
}
.add-to-wishlist:hover {
	background-color:  #ff751a;
	color: white;
	border-color: #ff751a;
 }
 
 .big-basket {
 	position: absolute;
 	display: flex;
 	margin-left: 78em;
 	height:  ;
 }
 .main-big-basket {
 	height: 1em;
 	font-size: 3.4em;
 	margin-top: .5em;
 	color: orange;
 }
.notfoundcontainer {	
	position: relative;
	width: 70vw;
	height: 80vh;
	margin: 2.4em auto  auto;
	background: #c9d3d3;
	background-image: url('../../images/gumball.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 5px 7px 20px 0px #888888;
	/*background-size: 100% 100%;*/
	border-radius: .8em;

}
.notftext  {
	font-family:  'Rajdhani', sans-serif;
	position: absolute;
	color: ;
	top: 7.2em;
	left: 3em;
	padding-left: 2.7em;
	font-size: 3.6em;
	font-weight: 800;
}

.aboutmaincontainer {
	position: relative;
	width: 70vw;
	height: 80vh;
	margin-bottom: 30em;
	margin: 2.2em auto  auto;
	background: #c9d3d3;
	border-radius: .8em;
	box-shadow: 4px 6px 20px 0px #888888;
}
.about1line {
	font-family: 'Kanit', sans-serif;
	position: absolute;

	top: .7em;
	left: 4em;
	font-size: 3em;
}
.abooutline {
	position: absolute;
	width: 30em;
	height: .45em;
	background: orange;
	left: 12.5em;
	top: 6.3em;
	border-radius: .3em;
}
.aboutdes {
	position: absolute;
	font-family: 'Poppins', sans-serif;
	font-weight: Light 300 italic;
	top:7em;
	left: 3.6em;
	font-size: 1.4em;
}
.libicons {
	position: absolute;
	top: 13em;
	left: 2.4em;
	width: 54em;
	height: 16em;
	border-radius: .8em;
	background: orange;
}


.footercontainer {
	margin-top: ;
	position: absolute;
	padding-top: 3em;
	width: 100%;
	height: 3.4em;
	background: #708090;
}
.aboutfooter {
	font-size: .9em;
	position: absolute;
	top: -.1em;
	margin-top: 1em;
	left: 45em;
}
.aboutroot {
	width: 100%;
	height: 100%;
	padding-bottom: 4em;
}
.loadingroot {
	position: relative;
	width: 100%;
	height:36em;
}
.loadingcontainer {
	position: absolute;
	width: 87%;
	height: 27em;
	background: orange;
	left: 5em;
	top: 4.5em;
	border-radius: 1em;
	box-shadow: 5px 7px 20px 0px #888888;

}
.loadingtext {
	position: absolute;
	font-size: 4em;
	color: white;
	top: .3em;
	left: 3.5em;
}
.loadingsubtext{
	position: absolute;
	font-size: 1.5em;
	color: white;
	left: 15em;
	top: 7.7em;
}
.loadingicon {
	position: absolute;
	font-size: 6em;
	color: green;
	left: .4em;
	top: .2em;
}


.loginroot {
	width: 100%;
	height: 36em;
}

.logincontainer {
	position: absolute;
	width: 47%;
	height: 28em;
	background: #c9d3d3;
	top: 6em;
	left: 19em;
	border-radius: .9em;
	box-shadow: 5px 7px 20px 0px #888888;

}
.registerroot, .errorroot {
	width: 100%;
	height: 36em;
}
.registercontainer, .errorcontainer {
	position: absolute;
	width: 70%;
	height: 29em;
	background: #c9d3d3;
	top: 6em;
	left: 13em;
	border-radius: 1em;
	box-shadow: 5px 7px 20px 0px #888888;
}
.removecir {
	cursor: pointer;
	position: absolute;
	background: #8B0000;
	border-radius: .1em solid orange;
	outline: none;
	font-size: 1.7em;
	left: 7.4em;
	top: .4em;
	border-radius: .7em;
	color: #c9d3d3;
}
.alertroot {
	position: absolute;
	display: inline-block;
	top:4em;
	left: .6em;
	margin-top: 5em;
	display: flex;
	width: 11em;
	height: 2.6em;
	color: white;
	background: orange;
	border-radius: .4em;
	justify-content: center;
	align-items: center;
	animation: 2s ease 0s 1 slide;
	}

@keyframes slide {
	0% {
		transform: translateX(-13em);
	}
	100% {
		transform: translateX(0em);
	}
}
.alertfadeout {
	opacity: 0;
	transition: opacity 1.7s;
	animation: 2s ease-out 0s 1 slidetwo;
}
.alertfadein {
	opacity: 1;
	transition: opacity 0.9s;
	
}

@keyframes slidetwo {
	0% {
		transform: translateX(0em);
	}
	100% {
		
		transform: translateX(-13em);
	}
}