
html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	min-height: 100vh;
	font-family:  sans-serif;
 	font-size: 1rem;
  	line-height: 1.5;
}
.app-css {
	min-height: 100vh;
	margin: 0 auto;
	background: #efeef0;
}
a{
	text-decoration: none;
	color: black;
}
.nav-root {
	display: flex;
	position: relative;
	font-family: 'Kanit', sans-serif;
	
	top: .3em;
	padding: .6em;

}

.nav-user {
	display: flex;
	right: .3em;
	position: absolute;
	
}
.nav-sign-up, .nav-log-in {	
	border: .1em solid #ff8533;
	margin-right: .2em;
	padding: .1em .3em;
	color: black; 
	border-radius: .7em;
	background-color: #fff4e6;	
}
.signup:hover
{
	-webkit-transform: translateY(-.3em);
	transition: all 1s linear ;
	transform: translateY(-.3em);
}

.name {
	letter-spacing: .1em;
	margin-top: -.3em;
	width: 29em;
	text-align: right;
	left: 50em;
	font-family: 'Kanit', sans-serif;
	font-weight: 700;
	font-size: 120%	;
}
 
.name-span {
	padding-left: .9em;
}

.github-icon {
	font-size: 1.8em;
	margin-top:  -.3em;
	padding-left: 1em;
}
.g-icon {
	padding:0;
	margin: 0 .5em 0 .5em;
	background: #ffdd99;
	border-radius: 50%;
	
	border:.05em solid #ffcc99;
}

.searchcontainer {
	margin-top: .3em;
	height: 1.9em;
	display: flex;
	justify-content: center;
}	

.search-input {
	padding : .1em 1em .1em .6em;
	width: 13em;
	font-size: 1em;
	color:#660022;
	margin-right: .6em;
	background-color: #b3e6cc;
	border: .12em solid orange;
	border-radius: .5em;
	outline: none;

}
.search-btn {
	cursor: pointer;

	width: 4em;
	border-radius: .4em;
	border : .16em solid orange;
}
.fasearch {
	height: 2em;
	width: 2em;
}
.imagecontainer {
	 	margin-top: 1.5em;
}
.search {
	display: flex;
	width: 70em;
	justify-content: center;
}

.img-container-sub {

	
	
}
.img-container-sub-2 {
	max-width: 90%;
	display: grid;
	margin: 5em auto;
	grid-template-columns: auto auto auto auto;
	grid-gap: 1em;

}

.card {
	height: 15rem;
	width:14em ;
	position: relative;
	/*overflow: hidden;*/
}


.card-img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: .7em;
}
.img-details-container {
	transition: all .3s linear;
	position: absolute;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	
	display: grid;
	grid-template-columns: 25% 60% 22% ;
	background: #e0ebeb;
}
.card:hover .img-details-container {
	transform: translateY(-100%);
}
.photographer-name-container {
	margin-right: 1em;
	grid-column-start: 1;
	grid-column-end: 4;
}
.photographer {

	margin-top: .5em;
	padding : 0 0 0 .4em;
}
.photographer-name {
	font-size: .8em;
	padding-left: .2em;
	
}
.faeye {
	margin-top: .28em;
}
.pic-view {
	display: flex;
	font-size: .85em;
}
.total-views {
	font-family: 'Fira Sans', sans-serif;
	font-size: 4em;
	margin-top: .2em;
	padding: 0 0 0 .3em;
	font-size: .89em;
}
.count-container {
	margin-top: .6em;
	padding: 0 0 0 .1em;
}
.how-count {

}
.count-btn {

}
.show-liked {
	
}
.like-icon {
	padding: 0 0 0 -.3em;
	margin: 0 0 0 0;
}
.add-to-wishlist {
	border: .1em solid orange;
	text-align: center;
}

